* {
  color: white;
  font-family: poppins;
}
body {
  background-color: #13071E;
}
.pageLink {
  opacity: 0.5;
  transition: 0.3s;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.pageLink:hover {
  opacity: 1;
}
.btn{
    padding:0 5rem;
    border-radius: 24px;
}
